<html lang="en">
<%- include("./partials/head.ejs") %>

<body id="test">
    <div class="jumbotron text-center">
        <h1>AWANA Grand Prix</h1>
        <p>Welcome Clubbers and Families</p> 
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-10" id="racerButton">
        <div class="row">
            <a href="/addRacer"><button style="color: black" type="button" class="btn">Racer Registration</button></a>
        </div>
        <br>
        <div class="row">
            <a href="/curRacers"><button style="color: black" type="button" class="btn">Current Racers</button></a>
        </div>
        <br>
        <div class="row">
            <a href="/racerLookup"><button style="color: black" type="button" class="btn">Racer Lookup</button></a>
        </div>
        <br>
        <div class="row">
            <a href="/raceHistory"><button style="color: black" type="button" class="btn">Race History</button></a>
        </div>
        <br><br><br><br>
        <div class="row">
            <button style="color: black" type="button" class="btn-danger" id="delete-button">Delete Data</button>
        </div>
    </div>
</body>
</html>