<html lang="en">
<%- include("./partials/head.ejs") %>

<body id="test">
    <div class="jumbotron text-center row" id="index_header">
        <div class="col-md-3 header_image_container">
            <svg width="535" height="115" style="float:left">
                <mask id="svgmask1">
                    <polygon fill="#ffffff" points="0 0, 450 0, 535 115, 0 115"></polygon>
                </mask>
                <image xlink:href="<%= static %>/checkered.jpg" mask="url(#svgmask1)"></image>
            </svg>
        </div>
        <div class="col-md-6">
            <h1 id="index_title">AWANA Grand Prix</h1>
            <p>Welcome Clubbers and Families</p> 
        </div>
        <div class="col-md-3 header_image_container">
            <svg width="535" height="115" style="float:right">
                <mask id="svgmask2">
                    <polygon fill="#ffffff" points="0 0, 535 0, 535 115, 85 115"></polygon>
                </mask>
                <image xlink:href="<%= static %>/checkered.jpg" mask="url(#svgmask2)"></image>
            </svg>
        </div>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-10" id="racerButton">
        <div class="row">
            <a href="/addRacer"><button style="color: black" type="button" class="btn">Racer Registration</button></a>
        </div>
        <br>
        <div class="row">
            <a href="/curRacers"><button style="color: black" type="button" class="btn">Current Racers</button></a>
        </div>
        <br>
        <div class="row">
            <a href="/nextRacers"><button style="color: black" type="button" class="btn">Next Racers</button></a>
        </div>
        <br>
        <div class="row">
            <a href="/racerLookup"><button style="color: black" type="button" class="btn">Racer Lookup</button></a>
        </div>
        <br>
        <div class="row">
            <a href="/raceHistory"><button style="color: black" type="button" class="btn">Race History</button></a>
        </div>
        <br><br><br><br>
        <div class="row">
            <button style="color: black" type="button" class="btn-danger" id="delete-button">Delete Data</button>
        </div>
    </div>
</body>
</html>