@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

html {
    overflow: hidden;
    background-image: url("background_2.jpg");
}

#fname, #lname {
    font-size: 350%;
    padding: 50px;
    text-align: center;
}

#race_header {
    padding: 15px 0;
}

.btn-yellow {
    background-color: #f0ce0c;
    border: 1px solid #99a100;
    color: white;
}

.btn-red {
    background-color: rgb(255, 60, 0);
}

.btn-yellow:hover {
    background-color: #d4b713;
    border: 1px solid #99a100;
}

#racerButton, #placeButton {
    height: 90%;
}

#racerButton .row, #placeButton .row {
    height: 10%;
}

#racerButton .row button, #placeButton .row button {
    height: 80%;
    width: 100%;
    font-size: 300%;
}

#racerButton .row button {
    color:white;
}

#advancing {
    height: 45%;
    text-align: center;
    border: 1px solid gray;
    background-color: #e0e0e0c0;
}

#advancing .row {
    height: 25%;
}

#advancing .row h1 {
    font-size: 350%;
    color: black;
    text-decoration: underline;
}

#advancing .row button {
    height: 80%;
    width: 90%;
    font-size: 250%;
    text-align: center;
    color: black;
}

#history_table {
    border: 3px solid black;
}

#history_table #super_header {
    font-size: 150%;
    font-weight: bolder;
}

#history_table #header {
    font-size: 125%;
    font-weight: bold;
}

#history_table div {
    border: 1px solid black;
}

.winner {
    background-color: rgb(60, 255, 60);
}

.loser {
    background-color: rgb(185, 185, 185);
}